/* #riya p{
    color: yellowgreen;
    /* background-color: blue; */


/* }
#riya2 > p {
    background-color: blue;
} */

/* .para{
    font-size: x-large; */
/* } */

/* 
p,h1,h2,div{
    background-color: blue;
} */
/* h1{
    background-color: blue;
} */


div>p:last-child{
    background-color: blue;

}